* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10%;
    background-color: rgba(27,114,232,255);
    position: fixed;
    top: 0;
    left: 0;

}

main{
    width: 100vw;
    height: 100%;
    display: flex;
}

aside{
    width: 7rem;
    height: 100%;
    background-color:rgba(5,30,52,255);
    position: fixed;
    top: 0;
    left: 0;

}

#main {
    width: 100vw;
    height: 100%;
    background-color: red;
    position: fixed;
    top: 59px;
    left: 112px;
    display: flex;

}